<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Index page</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="jumbotron">
		<p>lorem opsumlorem opsumlorem opsumlorem opsumlorem opsumlorem opsumlorem opsumlorem opsumlorem opsumlorem 
		opsumlorem opsumlorem opsumlorem opsumlorem opsumlorem opsumlorem opsumlorem opsumlorem opsumlorem opsum</p>
		</div>
	</div>
</body>
</html>